extends ../../../layouts/admin

block head
	title Sites

block feet
	script(src='/views/admin/sites/index.min.js?#{cacheBreaker}')

block body
	div.row
		div.col-xs-12
			div#header
			div.row
				div#sites-grids
				div#site-list


					script(type='text/template', id='tmpl-site-header')
						div.page-header
							form.form-inline.pull-right
								div.input-group
									input.form-control(name='name', type='text', placeholder='enter a name')
									button.btn.btn-primary.btn-add(type='button') Add New
							h1 Sites
					script(type='text/template', id='tmpl-site-list')
						table.table.table-striped
							thead
								tr
									th
									th pivot
									th.stretch name
									th path
							tbody#results-rows
								
					script(type='text/template', id='tmpl-results-rows')
						|<% _.each(sites, function(site) { %>
						td
							input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit', id!="<%= site._id %>")
						td
						td <%= site.name %>
						td <%= site.path %>
						|<% }); %>
					script(type='text/template', id='tmpl-grid')
						h2 <%= model.name %>
						table.table.table-striped
							thead
								tr
									th
									|<% _.each(accs, function(acc) { %>
									th.stretch <%= acc.name.first %>
									|<% }); %>		
							tbody
								td owner
								|<% _.each(accs, function(ele,idx) { %>
								td
									input(type="checkbox", accId!="<%= idx %>","<%= checkPresence(idx)? 'checked' : undefined%>")
								|<% }); %>
						input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit', id!="<%= model._id %>")

					script(type='text/template', id='tmpl-grid-scnd')
						h2 <%= model.name %>
						table.table.table-striped
							thead
								tr
									th
									th Owner
									|<% _.each(permitKeys, function(key) { %>
									th.stretch <%= key %>
									|<% }); %>		
							tbody
								|<% _.each(accs, function(ele,idx) { %>
								tr
									td <%= ele.name.first %>
									td
										input(type="checkbox", accId!="<%= ele._id %>","<%= checkPresence(ele._id)? 'checked' : undefined%>")
									|<% _.each(permitKeys, function(k,idx,list) { %>
									td
										input(type="checkbox", accId!="<%= ele._id %>",permitKey!="<%= k %>","<%= checkPresence(ele._id,k,idx)? 'checked' : undefined%>")
									|<% },ele); %>
								|<% }); %>
						input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit', id!="<%= model._id %>")
						


	script(type='text/template', id='data-siteList') !{data.siteList}
	script(type='text/template', id='data-accountList') !{data.accountList}