extends ../../../layouts/account

block head
	title Sites

block feet
	script(src='/views/account/sites/index.min.js?#{cacheBreaker}')

block body
	div.row
		div.col-xs-12
			div.page-header
				h1 Sites
				div.row
					div#site-list
					script(type='text/template', id='tmpl-site-list')
						table.table.table-striped
							thead
								tr
									th
									th.stretch name
									th path
							tbody#results-rows
								|<% _.each(sites, function(site) { %>
								tr
									td
										input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit', id!="<%= site._id %>")
									td <%= site.name %>
									td 
										a(href!="<%= site.path %>")
											<%= site.path %> 
								|<% }); %>


	script(type='text/template', id='data-siteList') !{data.siteList}